# Jacoco >= 0.8.0 and lombok >= 1.16.14 feature
# This property adds annotation lombok.@Generated to relevant classes, methods and fields. Jacoco code-coverage
#  identifies, detects and ignores all Lombok generated boilerplate code getter, setters, hashCode, builder etc.
lombok.addLombokGeneratedAnnotation = true
# Stop Lombok from serching for config files further
config.stopBubbling = true
# Set lombok to throw Just JDK NullPointerException (default anyway) in the wrapped code.
# Also, let JaCoCo honor and not complain coverage for if(!null){} method wrapper generated in the byte-code
lombok.nonNull.exceptionType = JDK
# https://projectlombok.org/features/EqualsAndHashCode
lombok.equalsAndHashCode.callSuper = call
